html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  background-color: rgb(226, 240, 214);
  color: rgb(149, 171, 99);
}

h1 {
  font-size: 100px;
  font-style: italic;
  text-shadow: 0 0 6px rgb(16, 34, 73);
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
}

div {
  width: 100%;
  margin: 0;
}

img {
  width: 20%;
  float: inline-block;
}

button {
  margin-bottom: 100px;
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
  border: 2px solid rgb(16, 34, 73);
  border-radius: 10px;
  background-color: rgb(226, 240, 214);
  font-family: 'Orbitron', sans-serif;
  -webkit-box-shadow: inset 0 0 10px rgb(149, 171, 99);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    inset 0 0 10px rgb(149, 171, 99);  /* Firefox 3.5 - 3.6 */
  box-shadow:         inset 0 0 10px rgb(149, 171, 99);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#reld-lyout {
  display: none;
}
