/*html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: rgb(44, 52, 59);
  color: rgb(229, 225, 209);
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
}

h1, h2 {
  margin-top: 60px;
}

#main {
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(196, 71, 65);
}

a:hover {
  text-decoration: underline;
  color: rgb(196, 71, 65);
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.samples div {
  width: 50%;
  float: left;
  text-align: center;
}

.high-img {
  height: 300px;
  -moz-box-shadow:    3px 3px 10px 1px black;
  -webkit-box-shadow: 3px 3px 10px 1px black;
  box-shadow:         3px 3px 10px 1px black;
}

.code {
  border-radius: 10px;
  border: 2px solid rgb(196, 71, 65);
  margin: 20px;
}

.short-img {
  width: 550px;
}

.wide-img {
  width: 750px;
}

.tip-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 600px;
  border: 4px solid rgb(82, 97, 109);
  border-radius: 10px;
  padding: 25px;
}

.tip-h {
  float: left;
  width: 75px;
  font-weight: bold;
  font-size: 1.3em;
}

.tip-text {
  float: left;
  width: 465px;
}

